<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>code.lovedboy.com</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>AEA84170-8AA1-4005-9FD7-10B249985172</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2BCD990-111E-40E0-9DA5-07500F90DEAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CEBAA431-1F10-4E97-88DC-DBD4115D4FE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>lovedboy</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>编码</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F2BCD990-111E-40E0-9DA5-07500F90DEAF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>co</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python code.py "{query}"</string>
				<key>title</key>
				<string>输入字符串</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AEA84170-8AA1-4005-9FD7-10B249985172</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>已经复制到粘贴板</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CEBAA431-1F10-4E97-88DC-DBD4115D4FE7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>哥来过</string>
	<key>uidata</key>
	<dict>
		<key>AEA84170-8AA1-4005-9FD7-10B249985172</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>CEBAA431-1F10-4E97-88DC-DBD4115D4FE7</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>F2BCD990-111E-40E0-9DA5-07500F90DEAF</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>blog.lovedboy.com</string>
</dict>
</plist>
